<h1>Cars#new</h1>
<p>Find me in app/views/cars/new.html.erb</p>


<%= render partial: 'form', locals: {
  car: @car,
  form_action: cars_path,
  form_method: "post"
} %>


<%# <form action="/cars" name="car" method="post">

  <label for="car[user_id]">Utilisateur</label>
  <input type="text" name="car[user_id]" id="user_id"><br>

  <label for="car[number_plate]">N° immatriculation</label>
  <input type="text" name="car[number_plate]" id="number_plate"><br>

  <label for="car[make]">Marque</label>
  <input type="text" name="car[make]" id="make"><br>

  <label for="car[model]">Modèle</label>
  <input type="text" name="car[model]" id="model"><br>

  <div>
    <p for="car[energy]">Energie</p>
    <input type="radio" id="Essence" name="car[energy]" value="Essence">
    <label for="Essence">Essence</label><br>
    <input type="radio" id="Diesel" name="car[energy]" value="Diesel">
    <label for="Diesel">Diesel</label><br>
    <input type="radio" id="Electrique" name="car[energy]" value="Electrique">
    <label for="Electrique">Electrique</label><br>
    <input type="radio" id="Hybride non-rechargeable" name="car[energy]" value="Hybride non-rechargeable">
    <label for="Hybride non-rechargeable">Hybride non-rechargeable</label>
    <input type="radio" id="Hybride rechargeable" name="car[energy]" value="Hybride rechargeable">
    <label for="Hybride rechargeable">Hybride rechargeable</label>
    <input type="radio" id="Bicarburation essence-éthanol" name="car[energy]" value="Bicarburation essence-éthanol">
    <label for="Bicarburation essence-éthanol">Bicarburation essence-éthanol</label>
    <input type="radio" id="Bicarburation essence GPL" name="car[energy]" value="Bicarburation essence GPL">
    <label for="Bicarburation essence GPL">Bicarburation essence GPL</label>
  </div>

  <label for="car[horsepower]">Puissance</label>
  <input type="number" name="car[horsepower]" id="horsepower"><br>

  <label for="car[first_registration_date]">Date de mise en circulation</label>
  <input type="date" name="car[first_registration_date]" id="first_registration_date"><br>

  <label for="car[mileage]">Kilomètrage</label>
  <input type="number" name="car[mileage]" id="mileage"><br>

  <label for="car[mileage_per_year]">Kilomètrage par an</label>
  <input type="number" name="car[mileage_per_year]" id="mileage_per_year"><br>

  <div>
    <p for="car[use]">Utilisation</p>
    <input type="checkbox" id="commute" name="car[use]" value="commute">
    <label for="commute">Domicile-travail</label><br>
    <input type="checkbox" id="use_for_work" name="car[use]" value="use_for_work">
    <label for="use_for_work">Outil de travail</label><br>
    <input type="checkbox" id="weekend" name="car[use]" value="weekend">
    <label for="weekend">Week-ends</label><br>
    <input type="checkbox" id="winter_holidays" name="car[use]" value="winter_holidays">
    <label for="winter_holidays">Vacances d'hiver</label><br>
    <input type="checkbox" id="spring_holidays" name="car[use]" value="spring_holidays">
    <label for="spring_holidays">Vacances de printemps</label><br>
    <input type="checkbox" id="summer_holidays" name="car[use]" value="summer_holidays">
    <label for="summer_holidays">Vacances d'ete</label><br>
    <input type="checkbox" id="fall_holidays" name="car[use]" value="fall_holidays">
    <label for="fall_holidays">Vacances d'automne</label><br>
  </div>

  <label for="car[last_technical_control_date]">Date du dernier Contrôle Technique</label>
  <input type="date" name="car[last_technical_control_date]" id="last_technical_control_date"><br>

  <label for="car[last_maintenance_operation_made_on]">Date du dernier entretien</label>
  <input type="date" name="car[last_maintenance_operation_made_on]" id="last_maintenance_operation_made_on"><br>

  <label for="car[last_maintenance_operation_mileage]">Kilomètrage du dernier entretien</label>
  <input type="number" name="car[last_maintenance_operation_mileage]" id="last_maintenance_operation_mileage"><br>

  <input type="submit" value="Submit">

</form> %>
